<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nextouch" translate="label" sortOrder="500">
            <label>Nextouch</label>
        </tab>

        <section id="import_export"
                 translate="label"
                 type="text"
                 sortOrder="1"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>ImportExport</label>
            <tab>nextouch</tab>
            <resource>Nextouch_ImportExport::config_import_export</resource>

            <group id="wins"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Wins</label>

                <field id="host"
                       translate="label comment"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Host</label>
                    <comment>Host Server on Which You Import Data</comment>
                </field>

                <field id="username"
                       translate="label comment"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Username</label>
                    <comment>Username of the FTP server</comment>
                </field>

                <field id="password"
                       translate="label comment"
                       type="password"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Password</label>
                    <comment>Password of the FTP server</comment>
                </field>

                <field id="location"
                       translate="label comment"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Location</label>
                    <comment>Server Location Where Files Are Saved</comment>
                </field>

                <field id="passive_mode"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Passive Mode</label>
                    <comment>Enable Passive Mode for Files Transfer</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
