<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogImportExport\Model\Import\Product\Type\AbstractType">
        <plugin name="associate_external_category_id"
                type="Nextouch\ImportExport\Plugin\Model\Import\Product\Type\AssociateExternalCategoryId"
                sortOrder="20"/>

        <plugin name="prepare_category_url_paths_value"
                type="Nextouch\ImportExport\Plugin\Model\Import\Product\Type\PrepareCategoryUrlPathsValue"
                sortOrder="10"/>

        <plugin name="prepare_product_brand_value"
                type="Nextouch\ImportExport\Plugin\Model\Import\Product\Type\PrepareProductBrandValue"
                sortOrder="10"/>

        <plugin name="prepare_is_returnable_value"
                type="Nextouch\ImportExport\Plugin\Model\Import\Product\Type\PrepareIsReturnableValue"
                sortOrder="10"/>

        <plugin name="set_fast_est_type_default_value"
                type="Nextouch\ImportExport\Plugin\Model\Import\Product\Type\SetFastEstTypeDefaultValue"
                sortOrder="10"/>
    </type>

    <type name="Nextouch\ImportExport\Model\Product\Attribute\WinsAttributeDataProvider">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </type>

    <type name="Nextouch\ImportExport\Model\Product\Attribute\WinsBrandDataProvider">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </type>

    <type name="Nextouch\ImportExport\Model\Product\WinsFeatureSetDataProvider">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </type>

    <type name="Nextouch\ImportExport\Model\Product\Gallery\WinsVideoDataProvider">
        <arguments>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </type>

    <type name="Nextouch\ImportExport\Cron\WinsProductDataImportJob">
        <arguments>
            <argument name="entityDataOperationCombiner" xsi:type="object">winsProductDataOperationCombiner</argument>
        </arguments>
    </type>

    <virtualType name="winsProductDataOperationCombiner" type="Nextouch\ImportExport\Model\WinsEntityDataOperationCombiner">
        <arguments>
            <argument name="operations" xsi:type="array">
                <item name="winsAttributeDataOperation" xsi:type="object">winsAttributeDataOperation</item>
                <item name="winsBrandDataOperation" xsi:type="object">winsBrandDataOperation</item>
                <item name="winsFeatureSetDataOperation" xsi:type="object">winsFeatureSetDataOperation</item>
                <item name="winsProductImageDataOperation" xsi:type="object">winsProductImageDataOperation</item>
                <item name="winsVideoDataOperation" xsi:type="object">winsVideoDataOperation</item>
            </argument>
            <argument name="semaphoreFilename" xsi:type="const">
                Nextouch\ImportExport\Model\WinsEntityDataOperationCombiner::ECAT_SEMAPHORE_FILENAME
            </argument>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </virtualType>

    <type name="Nextouch\ImportExport\Cron\WinsCatalogDataImportJob">
        <arguments>
            <argument name="entityDataOperationCombiner" xsi:type="object">winsCatalogDataOperationCombiner</argument>
        </arguments>
    </type>

    <virtualType name="winsCatalogDataOperationCombiner" type="Nextouch\ImportExport\Model\WinsEntityDataOperationCombiner">
        <arguments>
            <argument name="operations" xsi:type="array">
                <item name="winsProductDataOperation" xsi:type="object">winsProductDataOperation</item>
                <item name="winsProductStockDataOperation" xsi:type="object">winsProductStockDataOperation</item>
            </argument>
            <argument name="semaphoreFilename" xsi:type="const">
                Nextouch\ImportExport\Model\WinsEntityDataOperationCombiner::AT_SEMAPHORE_FILENAME
            </argument>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </virtualType>

    <virtualType name="winsAttributeDataOperation" type="Nextouch\ImportExport\Model\WinsEntityDataOperation">
        <arguments>
            <argument name="filename" xsi:type="const">
                Nextouch\ImportExport\Model\Product\Attribute\WinsAttributeDataProvider::CSV_FILENAME
            </argument>
            <argument name="client" xsi:type="object">
                Magento\Framework\Filesystem\Io\Ftp
            </argument>
            <argument name="entityDataProvider" xsi:type="object">
                Nextouch\ImportExport\Model\Product\Attribute\WinsAttributeDataProvider
            </argument>
            <argument name="entityDataImport" xsi:type="object">
                Nextouch\ImportExport\Model\Product\Attribute\WinsAttributeDataImport
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="winsBrandDataOperation" type="Nextouch\ImportExport\Model\WinsEntityDataOperation">
        <arguments>
            <argument name="filename" xsi:type="const">
                Nextouch\ImportExport\Model\Product\Attribute\WinsBrandDataProvider::CSV_FILENAME
            </argument>
            <argument name="client" xsi:type="object">
                Magento\Framework\Filesystem\Io\Ftp
            </argument>
            <argument name="entityDataProvider" xsi:type="object">
                Nextouch\ImportExport\Model\Product\Attribute\WinsBrandDataProvider
            </argument>
            <argument name="entityDataImport" xsi:type="object">
                Nextouch\ImportExport\Model\Product\Attribute\WinsBrandDataImport
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="winsProductDataOperation" type="Nextouch\ImportExport\Model\WinsScheduledMagentoOperation">
        <arguments>
            <argument name="filename" xsi:type="string">fixed_prodotti.csv</argument>
            <argument name="operationName" xsi:type="string">wins_product_data_operation</argument>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </virtualType>

    <virtualType name="winsFeatureSetDataOperation" type="Nextouch\ImportExport\Model\WinsEntityDataOperation">
        <arguments>
            <argument name="filename" xsi:type="const">
                Nextouch\ImportExport\Model\Product\WinsFeatureSetDataProvider::CSV_FILENAME
            </argument>
            <argument name="client" xsi:type="object">
                Magento\Framework\Filesystem\Io\Ftp
            </argument>
            <argument name="entityDataProvider" xsi:type="object">
                Nextouch\ImportExport\Model\Product\WinsFeatureSetDataProvider
            </argument>
            <argument name="entityDataImport" xsi:type="object">
                Nextouch\ImportExport\Model\Product\WinsFeatureSetDataImport
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="winsProductStockDataOperation" type="Nextouch\ImportExport\Model\WinsScheduledMagentoOperation">
        <arguments>
            <argument name="filename" xsi:type="string">giacenze.csv</argument>
            <argument name="operationName" xsi:type="string">wins_product_stock_data_operation</argument>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </virtualType>

    <virtualType name="winsProductImageDataOperation" type="Nextouch\ImportExport\Model\WinsScheduledMagentoOperation">
        <arguments>
            <argument name="filename" xsi:type="string">immagini.csv</argument>
            <argument name="operationName" xsi:type="string">wins_product_image_data_operation</argument>
            <argument name="client" xsi:type="object">Magento\Framework\Filesystem\Io\Ftp</argument>
        </arguments>
    </virtualType>

    <virtualType name="winsVideoDataOperation" type="Nextouch\ImportExport\Model\WinsEntityDataOperation">
        <arguments>
            <argument name="filename" xsi:type="const">
                Nextouch\ImportExport\Model\Product\Gallery\WinsVideoDataProvider::CSV_FILENAME
            </argument>
            <argument name="client" xsi:type="object">
                Magento\Framework\Filesystem\Io\Ftp
            </argument>
            <argument name="entityDataProvider" xsi:type="object">
                Nextouch\ImportExport\Model\Product\Gallery\WinsVideoDataProvider
            </argument>
            <argument name="entityDataImport" xsi:type="object">
                Nextouch\ImportExport\Model\Product\Gallery\WinsVideoDataImport
            </argument>
        </arguments>
    </virtualType>
</config>
