<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nextouch\Sales\Api\Data\OrderInterface"
                type="Nextouch\Sales\Model\Order"/>

    <preference for="Nextouch\Sales\Api\Data\OrderAddressInterface"
                type="Nextouch\Sales\Model\Order\Address"/>

    <preference for="Nextouch\Sales\Api\Data\OrderItemInterface"
                type="Nextouch\Sales\Model\Order\Item"/>

    <preference for="Nextouch\Sales\Api\Data\ShipmentInterface"
                type="Nextouch\Sales\Model\Order\Shipment"/>

    <preference for="Nextouch\Sales\Api\Data\ShipmentItemInterface"
                type="Nextouch\Sales\Model\Order\Shipment\Item"/>

    <preference for="Nextouch\Sales\Api\OrderRepositoryInterface"
                type="Nextouch\Sales\Model\OrderRepository"/>
</config>
