<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhl>
                <active>0</active>
                <title>DHL</title>
                <name>Shipping</name>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Nextouch\Dhl\Model\Carrier\Dhl</model>
            </dhl>
        </carriers>
    </default>
</config>
