<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <magento_rma>
                <policy_return_period>14</policy_return_period>
            </magento_rma>
        </sales>
    </default>
</config>
