<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\ShippingMethodManagementInterface">
        <plugin name="filter_shipping_methods_based_on_cart"
                type="Nextouch\Checkout\Plugin\Model\FilterShippingMethodsBasedOnCart"/>
    </type>

    <type name="Magento\Quote\Api\GuestShipmentEstimationInterface">
        <plugin name="filter_shipping_methods_based_on_cart"
                type="Nextouch\Checkout\Plugin\Model\FilterShippingMethodsBasedOnCart"/>
    </type>

    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="filter_payment_methods_based_on_cart"
                type="Nextouch\Checkout\Plugin\Model\FilterPaymentMethodsBasedOnCart"/>
    </type>

    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="filter_payment_methods_based_on_cart"
                type="Nextouch\Checkout\Plugin\Model\FilterPaymentMethodsBasedOnCart"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Address\RateResult\Method">
        <plugin name="calculate_shipping_method_price"
                type="Nextouch\Checkout\Plugin\Model\Quote\Address\RateResult\CalculateShippingMethodPrice"/>
    </type>

    <type name="Amasty\Deliverydate\Helper\Data">
        <plugin name="render_delivery_by_appointment_fields"
                type="Nextouch\Checkout\Plugin\Helper\Deliverydate\RenderDeliveryByAppointmentFields"/>
    </type>

    <type name="Magento\Checkout\Block\Checkout\AttributeMerger">
        <plugin name="fiscal_code_validation"
                type="Nextouch\Checkout\Plugin\Block\Checkout\FiscalCodeValidation"/>

        <plugin name="phone_validation"
                type="Nextouch\Checkout\Plugin\Block\Checkout\PhoneValidation"/>

        <plugin name="stair_validation"
                type="Nextouch\Checkout\Plugin\Block\Checkout\StairValidation"/>

        <plugin name="limited_traffic_zone_validation"
                type="Nextouch\Checkout\Plugin\Block\Checkout\LimitedTrafficZoneValidation"/>

        <plugin name="lift_validation"
                type="Nextouch\Checkout\Plugin\Block\Checkout\LiftValidation"/>

        <plugin name="vat_id_validation"
                type="Nextouch\Checkout\Plugin\Block\Checkout\VatIdValidation"/>

        <plugin name="invoice_type_default_setter"
                type="Nextouch\Checkout\Plugin\Block\Checkout\InvoiceTypeDefaultSetter"/>

        <plugin name="invoice_type_component_setter"
                type="Nextouch\Checkout\Plugin\Block\Checkout\InvoiceTypeComponentSetter"/>
    </type>

    <!--
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="city_readonly_setter"
                type="Nextouch\Checkout\Plugin\Block\Checkout\CityReadOnlySetter"/>

        <plugin name="postcode_readonly_setter"
                type="Nextouch\Checkout\Plugin\Block\Checkout\PostCodeReadOnlySetter"/>
    </type>
    -->
</config>
