<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="block-authentication block-authentication-customer"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">

    <div class="block block-customer-login">
        <div class="block-title">
            <strong id="block-customer-login-heading"
                    role="heading"
                    aria-level="2"
                    data-bind="i18n: 'Login'"></strong>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <form class="form form-login"
                  method="post"
                  data-bind="event: {submit: login }"
                  id="login-form">
                <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field email required">
                        <label class="label" for="customer-email"><span data-bind="i18n: 'Email Address'"></span></label>
                        <div class="control">
                            <input name="username"
                                   id="customer-email"
                                   type="email"
                                   class="input-text"
                                   data-mage-init='{"mage/trim-input":{}}'
                                   data-bind="attr: {autocomplete: autocomplete, placeholder: 'Email'}"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span data-bind="i18n: 'Password'"></span></label>
                        <div class="control">
                            <input name="password"
                                   type="password"
                                   class="input-text"
                                   id="pass"
                                   data-bind="attr: {autocomplete: autocomplete, placeholder: 'Password'}"
                                   data-validate="{required:true}">
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                    <div class="actions-toolbar">
                        <input name="context" type="hidden" value="checkout" />
                        <!-- TODO: fkx url -->
                        <a class="register-link"
                           data-bind="attr: {'title': $t('Customer Account'), 'href': 'customerRegisterUrl' }">
                            <span data-bind="i18n: 'Register'"></span>
                        </a>
                        <div class="primary">
                            <button type="submit" class="action action-login primary" name="send" id="send2">
                                <span data-bind="i18n: 'Sign In'"></span>
                            </button>
                        </div>
                        <div class="forgot">
                            <a class="action" data-bind="attr: {href: forgotPasswordUrl}">
                                <span data-bind="i18n: 'Forgot Your Password?'"></span>
                            </a>
                        </div>
                    </div>
                    <div class="continue-url">
                        <!-- TODO: add url -->
                        <a class="action">
                            <span data-bind="i18n: 'Continue without registration'"></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
