//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .page-products {
      .title-crumbs-container {
          margin-bottom: 20px;
      }
    .products-grid {
      .product-item {
        .tocompare:before {
          display: none;
        }
      }
    }
      .support-box,
      .store-locator-box {
          padding-left: 80px;
          font-size: 1.4rem;
          margin-bottom: 20px;
          text-align: left;
          min-height: 50px;
          .d-block {
              display: block;
          }
      }
      .support-box {
          background: url('@{baseDir}images/ico-cuffie.svg') 0 0 no-repeat;
          background-size: 40px;

      }
      .store-locator-box {
          background: url('@{baseDir}images/ico-locator.svg') 0 0 no-repeat;
      }
      .sorter-label {
        display: inline-block;
          color: @theme__color__gray;
          font-size: 1.8rem;
          line-height: 1.1rem;
      }


      .toolbar-sorter {
        #sorter {
           display: none;
        }
          a.sorter-action {
              display: inline-block;
              height: 46px;
              vertical-align: middle;
              line-height: 60px;
              top:0;
              &:before {
                  display: none;
                  content: "";
              }
              svg {
                  color: @theme__color__primary;
                  width: 24px;
                  height: 24px;
                  display: inline-block;
              }
          }
          .selected-cloned {
              box-shadow: @theme__box-shadow__secondary;
              min-height: 45px;
              min-width: 152px;
              border-radius: 50px;
              padding: 5px 20px;
              display: inline-block;
              box-sizing: border-box;
              margin-left: 10px;
              font-size: 1.8rem;
              cursor: pointer;
              user-select: none;

              &:after {
                  display: inline-block;
                  width: 40px;
                  height: 40px;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  font-size: 5rem;
                  line-height: 4rem;
                  content: "";
                  background: url('@{baseDir}images/arrow-right.svg') 50% 50% no-repeat;
                  transform: rotate(90deg);
                  vertical-align: middle;
                  font-weight: normal;
                  overflow: hidden;
                  speak: none;
                  text-align: center;
              }
          }

          .dropdown-cloned {
              position: relative;
              min-width: 152px;
              text-align: right;
              font-size: 1.8rem;
              user-select: none;
              display: inline-block;
              &.active {
                  .selected-cloned {
                      &:after {
                          transform: rotate(-90deg);
                      }
                  }
                  .sorter-dropdown-options {
                      display: block;
                      text-align: right;
                  }
              }
          }
          .sorter-dropdown-options {
              display: none;
              font-size: 1.8rem;
              line-height: 1.1rem;
              cursor: pointer;
              z-index: 40;
              position: absolute;
              text-align: center;
              right: 0;
              top: 60px;
              div {
                  box-shadow: @theme__box-shadow__secondary;
                  min-height: 45px;
                  min-width: 250px;
                  border-radius: 50px;
                  padding: 15px 20px;
                  display: inline-block;
                  box-sizing: border-box;
                  margin-left: 10px;
                  cursor: pointer;
                  z-index: 100;
                  text-align: center;
                  position: relative;
                  margin-bottom: 12px;
                  background: #fff;
              }
          }
      }
      .products.wrapper ~ .toolbar .limiter {
          display: none;
      }
      .products.wrapper ~ .toolbar .pages {
          float: none;
          margin: 0 auto;
      }
      .products.wrapper ~ .toolbar .pages .action.next {
          border-radius: 100%;
      }
      .product-short-info {
          color: @theme__color__gray;
          font-size: 1.8rem;
          font-weight: 300;
      }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {

        .sorter-label {
            font-size: 1.8rem;
            line-height: 1.2rem;
        }

        .clone-select {
            font-size: 1.8rem;
            line-height: 1.2rem;

            .option-link {
                min-height: 48px;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .page-products {

      .support-box,
      .store-locator-box {
          font-size: 1.8rem;
          margin-bottom: 50px;

      }


    .products-grid {
      .product-item {

        .product-item-info {
          margin: 0 auto;
          padding: 30px;

          .product-item-badge {
            position: absolute;
            padding-top: @indent__s;
            text-align: center;
            color: @color-white;
            font-weight: @font-weight__bold;
            top: -20px;
            left: 0;
            width: 170px;
            height: 40px;
            border-radius: 50px 50px 50px 0;

            &--recommended {
              background: @primary__color 0 0 no-repeat padding-box;
            }

            &--on-sale {
              background: @color-red12 0 0 no-repeat padding-box;
            }
          }

          .product-item-prices {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .saving-percent {
              color: @color-red12;
              font-weight: @font-weight__bold;
            }
          }
        }
      }

      .product-item-actions {
        display: flex;
        flex-direction: column;
        text-align: center;

        .actions-primary {
          margin-top: @indent__s;
          order: 1;

          .action.primary {
            padding: @indent__base @indent__m;

            &:hover {
              color: @color-white;
            }
          }
        }

        .actions-secondary {
          .action.towishlist {
            display: none;
          }

          .action.tocompare {
            margin-left: @indent__s;
          }
        }
      }
    }
  }
}
