<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Override EditPost Controller for saving dob -->
    <preference for="Magento\Customer\Controller\Account\EditPost" type="Elightwalk\Core\Preference\Customer\Controller\Account\EditPost" />
    <!-- After Plugin for Dob date format -->
    <type name="Magento\Customer\Block\Widget\Dob">
        <plugin name="after_dob_plugin" type="Elightwalk\Core\Plugin\Customer\Block\Widget\Dob" sortOrder="10" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address\RateResult\Method">
        <plugin name="calculate_shipping_method_price" type="Elightwalk\Core\Plugin\Model\Quote\Address\RateResult\CalculateShippingMethodPrice" />
    </type>
</config>