version: "3.5"
services:
  php:
    ports:
      - "9001:9000"
      - "8080:80"
    networks:
      nextouch:
        ipv4_address: 172.50.0.10

  db:
    ports:
      - "33006:3306"
    networks:
      nextouch:
        ipv4_address: 172.50.0.11

  cache:
    networks:
      nextouch:
        ipv4_address: 172.50.0.12

  search:
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      nextouch:
        ipv4_address: 172.50.0.13

  cron:
    networks:
      nextouch:
        ipv4_address: 172.50.0.14

  sftp:
    ports:
      - "22:22"
    networks:
      nextouch:
        ipv4_address: 172.50.0.15

  ftpd:
    ports:
      - "21:21"
    networks:
      nextouch:
        ipv4_address: 172.50.0.16

networks:
  nextouch:
    name: nextouch_net
    ipam:
      driver: default
      config:
        - subnet: 172.50.0.0/16
