<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\MegaMenuLite\Block\Container">
        <plugin name="change_root_menu_category"
                type="Nextouch\Theme\Plugin\Block\MegaMenuLite\ChangeRootMenuCategory"/>
    </type>
</config>
