<?xml version="1.0"?>
<!--
/**
 * Copyright © Axepta Spa All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Axepta\Paymentservice\Model\TestPayment">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="axepta" xsi:type="string">/axepta/</item>
            </argument>
        </arguments>
    </type>
    <type name="Axepta\Paymentservice\Model\Axepta">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Checkout\Model\Session</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="axepta_paymentservice_config_provider" xsi:type="object">Axepta\Paymentservice\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Axepta\Paymentservice\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
</config>
