//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-info-main {
        #product_addtocart_form {
          .field.qty {
            display: none;
          }

          .product-options-bottom {
            flex: 1 0 0;
          }

          .product-options-wrapper {
            flex: 1 0 0;
            order: 1;
          }
        }
    }

    .product-details-boxes {
        > div {
            box-shadow: @theme__box-shadow__primary;
            margin: 50px 0;
            border-radius: 50px;
            padding: 50px;
            box-sizing: border-box;
            width: 100%;
            div[data-role="title"] {
              text-align: center;
            }
            &.product-easeofuse {
                width: 100%;
                box-shadow: none;
            }
            &.product-attributes {
                background: @theme__color__secondary;
            }
        }

        #product-attributes-collapsible {
            .lib-font-size(20);

            > div[data-role="title"] {
                color: @theme__color__secondary_contr;
                .lib-font-size(45);
                text-align: center;
            }
            .additional-attributes-wrapper table-wrapper {
                margin: 50px 0;
            }
            .additional-attributes {
                color: @theme__color__secondary_contr2;
                th {
                    font-weight: 400;
                    min-width: 50%;
                    width: 70%;
                }
                td {
                    max-width: 50%;
                }
                tr.heading {
                    color: @theme__color__secondary_contr;
                }
            }
        }
    }

    .product-media-wrapper {
        .product-addto-links {
            > a {
                display: block;
                margin: 50px 0;
                text-align: center;
                color: @theme__color__secondary;
            }
        }
    }



    .product-info-stock-sku {
        .stock {
            text-align: center;
            .lib-font-size(20);
            padding: 10px;
            margin: 25px 0;
            vertical-align: middle;
            span {
                &:before {
                    display: inline-block;
                    content: "";
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    margin-right: 10px;
                    margin-bottom: -3px;
                    background: @theme__color__secondary;
                }
            }
            &.out-of-stock {
                span {
                    &:before {
                        background: @error__color;
                    }
                }
            }
        }
    }

  .product-media-popup {
    .modal-inner-wrap {
      width: 50vw;
      height: 80vh;
    }

    .modal-header {
      border: 0;
    }

    .modal-content {
      height: 100vh;
      padding: 0;
    }
  }

    .title-crumbs-container {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 50px;
        justify-content: space-between;
        .static-title {
            font-weight: 700;
            font-size: 1.8rem;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .catalog-category-view {
        .page-title-wrapper {
            h1 {
                font-size: 4.5rem;
                text-transform: none;
                font-weight: 700;
            }
        }
    }

    .title-crumbs-container {
        .static-title {
            font-size: 4.5rem;
        }
    }

    .product-details-boxes {
        > div {
            width: 46%;
            &.product-attributes {
                float: left;
            }
            &.product-description {
                float: right;
            }
            &.product-ecochoice {
                float: left;
                clear: left;
            }
            &.product-easeofuse {
                width: 100%;
            }
        }
    }

  .page-layout-1column {
    .product-info-main {

      .product-add-form {
        width: 100%;
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
}
