
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .negative-carousel {

    }
    .slick-slide {
        position: relative;
    }

    button {
        border-radius: 100px;
        box-shadow: 3px 3px 3px #cccc;
    }


    .slick-dots.slick-dots {
        margin: 10px 0;
        li {
            button:before {
                border-radius: 100%;
                background-color: @theme__color__primary;
            }
            &.slick-active button:before {
                background-color: @theme__color__primary-alt;
            }
        }
    }

    .breadcrumbs {
        display: none;
    }

    input[type="radio"] {
        display: none;
        + label {
            &:before {
                display: inline-block;
                border-radius: 100%;
                border: 1px solid @theme__color__primary-darker;
                width: 26px;
                height: 26px;
                content: "";
                margin-right: 30px;
                margin-bottom: -8px;
            }
        }
        &:checked {
            + label {
                &:before {
                    background: @theme__color__secondary;
                }
            }
        }
    }




}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cms-index-index {
        header {
            z-index: @z-index-10;
        }
        .negative-slider-mobile {
            z-index: @z-index-5;
        }
    }

}



//
//  Desktop
//  ----------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .cms-index-index {
        h2 {
            font-size: @h2__font-size-desktop;
        }
        h3 {
            font-size: @h3__font-size-desktop;
        }
        h4 {
            font-size: @h4__font-size-desktop;
        }
    }


    .breadcrumbs {
        height: 54px;
        display: block;
        line-height: 56px;
        text-align: right;
        font-size: 1.3rem;
        li {
            font-size: 1.3rem;
        }
    }
}
