<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_end">
        <observer name="change_order_status_to_paid"
                  instance="Nextouch\Sales\Observer\ChangeOrderStatusToPaid"/>
    </event>
    <event name="paypal_checkout_success">
        <observer name="change_order_status_to_paid"
                  instance="Nextouch\Sales\Observer\Paypal\ChangeOrderStatusToPaid"/>
    </event>
</config>
