<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <instore_payment>
                <active>0</active>
                <model>Nextouch\InStorePayment\Model\InStorePayment</model>
                <order_status>pending</order_status>
                <title>In-Store Payment</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay your order in the selected store.</instructions>
                <sort_order>10</sort_order>
            </instore_payment>
        </payment>
    </default>
</config>
