<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="nextouch" translate="label" sortOrder="500">
            <label>Nextouch</label>
        </tab>

        <section id="theme"
                 translate="label"
                 type="text"
                 sortOrder="1"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Theme</label>
            <tab>nextouch</tab>
            <resource>Nextouch_Theme::config_theme</resource>

            <group id="homepage"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Homepage</label>

                <field id="decision_tree"
                       translate="label comment"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>Decision Tree</label>
                    <comment>URL where the Decision Tree is hosted</comment>
                    <validate>validate-url</validate>
                </field>

                <field id="main_banner_image"
                       translate="label comment"
                       type="image"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>Main Banner Image</label>
                    <comment>Banner image shown below Homepage slider</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">nextouch/homepage</base_url>
                    <upload_dir config="system" scope_info="1">nextouch/homepage</upload_dir>
                </field>

                <field id="main_banner_url"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>Main Banner Url</label>
                    <validate>validate-url</validate>
                </field>

                <field id="promotion_image_1"
                       translate="label comment"
                       type="image"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>First Promotion Image</label>
                    <comment>Promotion image shown in the first column</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">nextouch/homepage</base_url>
                    <upload_dir config="system" scope_info="1">nextouch/homepage</upload_dir>
                </field>

                <field id="promotion_url_1"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>First Promotion Url</label>
                    <validate>validate-url</validate>
                </field>

                <field id="promotion_image_2"
                       translate="label comment"
                       type="image"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>Second Promotion Image</label>
                    <comment>Promotion image shown in the second column</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">nextouch/homepage</base_url>
                    <upload_dir config="system" scope_info="1">nextouch/homepage</upload_dir>
                </field>

                <field id="promotion_url_2"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1"
                       canRestore="0">
                    <label>Second Promotion Url</label>
                    <validate>validate-url</validate>
                </field>
            </group>
        </section>
    </system>
</config>
