<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Nextouch\Catalog\Api\Data\CategoryInterface"
                type="Nextouch\Catalog\Model\Category"/>

    <preference for="Nextouch\Catalog\Api\Data\ProductInterface"
                type="Nextouch\Catalog\Model\Product"/>

    <preference for="Nextouch\Catalog\Api\ProductRepositoryInterface"
                type="Nextouch\Catalog\Model\ProductRepository"/>

    <preference for="Nextouch\Catalog\Api\ProductAttributeManagementInterface"
                type="Nextouch\Catalog\Model\Product\Attribute\Management"/>

    <preference for="Nextouch\Catalog\Api\CategoryManagementInterface"
                type="Nextouch\Catalog\Model\CategoryManagement"/>
</config>
