
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .page-footer{
    .footer.content{
      background: @theme__color__primary;
      max-width: 100%;
      padding-left: @layout-indent__width;
      padding-right: @layout-indent__width;
      width: auto;
      font-size: 1.2rem;
      font-weight: @font-weight__bold;
      .links{
        margin: 0 50px;
        padding: 0;
        &:first-child{
          margin-left: 0;
        }
      }
      .text-center{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        max-width: 1440px;
        width: auto;
        margin: 40px auto;
        .footer.links{
          flex: 1 1 0;
          border-right: 1px solid #fff;
          &:last-child{
            border-right: none;
          }
        }
      }
      .footer-social{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        .col-auto{
          width: 100px;
        }
      }
      a{
        color: @color-white;
      }
      strong {
        color: @color-white;
        text-decoration: underline;
      }
      .footer-copyright{
        display: flex;
        justify-content: space-between;
        .text-copyright{
          color: @color-white;
          font-size: 1.2rem;
          font-weight: normal;
          max-width: 550px;
          padding-right: 50px;
        }
      }

    }
  }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .page-footer .footer.content {
      ul.links {
          padding: 0 15px 0 0;
          margin: 0 3%;
          font-size: 0.8rem;
          font-weight: 300;
          &:last-child {
              margin-right: 0;
              padding-right: 0;
          }
      }
      .footer-social {
          .col-auto {
              width: 35px!important;
          }
          a img {
              max-width: 20px;
          }
      }
      .footer-copyright {
          .text-copyright.text-copyright {
              font-size: 0.5rem;
          }
      }
      .payments-icon {
          display: flex;
          flex-flow: row wrap;
          max-width: 50%;
          > div {
              padding: 0 5px;
              max-width: 20px;
          }
          img {
          }
      }
  }

}




//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-footer .footer.content {
        .text-center {
            margin: 80px auto;
            .footer.links {
                border-right-width: 2px;
                font-size: 1.8rem;
            }
        }
        .footer-copyright {
            .text-copyright {
                font-size: 1.8rem;
                font-weight: 200;
            }
        }
        .payments-icon {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            .col-auto {
                padding: 5px;
                img {
                    width: auto!important;
                    max-width: 90px;
                }
            }
        }
    }

}
